<!DOCTYPE html>
<html>
<head>
  <title>Categorical</title>
  <%= stylesheet_link_tag    "categorical/application", media: "all" %>
  <%= javascript_include_tag "categorical/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
